@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#body {
   font-family:'Lobster';
   background-color: rgb(62, 200, 255);
}

#img {
   text-align: center;  
}

#img img {
   border: 0;
}
.portada img{
   height: 100vh;
   width: 1000vw;
}

